.bookinfo
{
word-break: normal; 
word-wrap: break-word;
white-space: pre-wrap;
font-size:15px;
line-height: 1.5;
font-family: "LXGWNeoXiHeiScreen";
}

.image-basic{
text-align:center;
font-style:italic;
font-size:smaller;
text-indent:0;
padding-right:1em;
float:left;
width:150px;
margin-top:15px;
}